language: cpp

os:
  - linux

compiler:
  - gcc
  - clang

env:
  matrix:
  - NODE_NVM_VERSION="0.10"

before_install:
  - export platform=$(uname -s | sed "y/ABCDEFGHIJKLMNOPQRSTUVWXYZ/abcdefghijklmnopqrstuvwxyz/")
  - export TRAVIS_OS_NAME=${platform}
  - ./vendor/mapbox-gl-native/scripts/setup_travis.sh
  - source ./vendor/mapbox-gl-native/scripts/flags.sh
  - ./scripts/nvm_install.sh

install:
  - npm install --build-from-source

script:
  - npm test

after_success:
  - ./scripts/travis_publish.sh

git:
  submodules: true
